/Swalayan-Backend/vendor/
/Swalayan-Backend/node_modules/
/Swalayan-Backend/npm-debug.log
/Swalayan-Backend/yarn-error.log
/Swalayan-Backend/public/assets/img/produk/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
/Swalayan-Backend/.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
